.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
#editor {
  background-color: #1396ad;
  font-family: "Lobster", cursive;
  float: left;
  padding-top: 1vw;
  display: inline-block;
  font-size: 100%;
  margin: 2vw 9vw;
  min-height: 75vh;
  padding-left: 1vw;
  text-align: left;
  width: 30%;
  word-wrap: break-word;
  color: white;
}

textarea {
  border: none;
  resize: none;
}

#preview {
  background-color: violet;
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  padding-top: 1vw;
  display: inline-block;
  margin: 2vw 9vw;
  min-height: 75vh;
  padding-left: 1vw;
  text-align: left;
  width: 30%;
  word-wrap: break-word;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0%;
  padding-bottom: 25px;
  width: 100%;
}
